<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.test.mrnom"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal">

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="Gaming tests"
        android:theme="@android:style/Theme.Black.NoTitleBar">

        <activity
            android:name=".MrNomActivity"
            android:icon="@drawable/mrnom"
            android:label="MrNom"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.test.TestActivity"
            android:label="TouchTests">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.test.GLTestActivity"
            android:label="TouchTestsGL">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
